<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">

	<h2 class="well">Yes, $definition.getDescription() gets their own page.<br>
	Because of your thoroughness, you are rewarded with some cute animal pics.</h2>
	<br>
	<a href="/">Home</a>
	<div class="img multi">
		<img src="../images/hamster.jpg">
		<img src="../images/owl.jpg">
	<div>


	</div>
	<div class="col-md-2"></div>
</div>